## Spark DataFrame Basics

In [1]:
import findspark
import os

In [2]:
findspark.init('/home/siddharth/spark-2.4.1-bin-hadoop2.7/')

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('basics').getOrCreate()

In [5]:
dataset_path = './Python-and-Spark-for-Big-Data-master/Spark_DataFrames/'
os.chdir(dataset_path)

In [6]:
os.getcwd()

'/home/siddharth/workspace-python/PySpark_ml/Python-and-Spark-for-Big-Data-master/Spark_DataFrames'

##### Be carefull while giving spark read path as os.chdir() doesn't work [jupyter and file should be at same location to work]

In [7]:
df = spark.read.json('./Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [9]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [10]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [11]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [12]:
df.columns

['age', 'name']

##### for multiple import in new line use "()" paranthesis

In [ ]:
from pyspark.sql.types import (StructField,StructType,
                               StringType,IntegerType)

##### True is for null allowance

In [ ]:
data_schema = [StructField('age',IntegerType(),True),
               StructField('name',StringType(),True)]

In [ ]:
final_struc = StructType(fields=data_schema)

In [ ]:
df_n = spark.read.json('./Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [ ]:
df_n.printSchema()